opencv-python==4.10.0.84
pytesseract==0.3.13
easyocr==1.7.1
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.1
torch==2.3.1
torchvision==0.18.1
transformers==4.44.2
spacy==3.7.4
streamlit==1.37.1
flask==3.0.3
